@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Gilroy';
    src: url('./Assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./Assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Chronicle';
    src: url('./Assets/fonts/Chronicle.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

body {
    @apply bg-foreground-main font-gilroy text-white;
}

.content {
    @apply bg-background-main border-2 rounded-lg w-[100%] my-10;
}








/* FANCY LOADER style */
.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50px;
    left:80%;
    width: 204px;
    height: 204px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #2778e2 transparent transparent transparent;
  }
  
  .spinner div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .spinner div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .spinner div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

/* END OF FANCY LOADER style */ 